<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <div class="outer">
        <h1 class="title">Counter</h1>
        <div class="count">{{count}}</div>
        <div class="buttons">
            <a href="" class="button click">Click</a>
            <a href="destroy_session" class="button reset">Reset</a>
        </div>
    </div>
</body>
</html>